prompt-engineering.md

This is folder with all relevant .md files. 
/Users/jycai/Library/Containers/com.getupnote.desktop/Data/Library/Application Support/UpNote/UpNote Backup/gCprZgl68JRRyQ2jc7vL0sj5YLb2/Markdown/General Space/notebooks/Relationships

# Private folder with sensitive data
private/